/* 
    Document   : general
    Created on : 07 Jul 11, 15:58:30
    Author     : Akbar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#content {
    -moz-box-shadow: 0px 0px 20px rgb(40,40,40);
    -webkit-box-shadow: 0px 0px 20px rgb(40,40,40);
    box-shadow: 0px 0px 20px rgb(40,40,40);
    /* For IE 8 */
    /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=25, Direction=90, Color='#191919')";
    /* For IE 5.5 - 7 */
    /* filter: progid:DXImageTransform.Microsoft.Shadow(Strength=25, Direction=90, Color='#191919'); */
}

.top-menu {
    height: 45px;
}

.navigation {
    padding: 0px 0px 0px 0px;
}

.navigation ul {
    float:left;
    width:100%;
    list-style-type:none;
    display:  inline;
    padding:0;
    margin:0;
}

.navigation a {
    min-width: 4em;
    float:left;
    text-decoration:none;
    color: rgb(0,0,0);
    background-color: rgb(240,240,240);
    padding:0.4em 0.7em;
    margin-right: 3px;
    border-right:1px solid white;
    display: inline;
    text-align: center;
}

.navigation a:hover {
    background-color: rgb(70,70,70) ;
    color : rgb(255,255,255);
}

.navigation li{
    display:inline;
}

#welcome_user {
    font-family: 'Times New Roman',Times,serif;
    font-size: 12px;
    text-align: right;
}

.search_site_box {
    float : right;
}

#right-banner {
    padding-top: 20px;
    padding-right: 15px;
    float: right;
}

#grouper1{
    float: right;
}
.banner {
    height: 217px;
    background-color : green;
}

.heading {
    font-family: impact;
    font-size: 45px;
    color: rgb(255,255,255);
}


.heading2 {
    font-family: georgia;
    font-size: 18px;
    color: rgb(255,255,255);
}


#footer {
    padding: 0px 0px 0px 30px;
    color: rgb(130,130,130);
}

.left-menu {
    float:left;
    width: 680px;
}

.right-menu {
    float:left;
    width: 280px;
}

.work-menu{
    float:left;
    width: 491px;
}

.clearboth {
    clear: both;
}

.display_none {
    display: none;
}

/* Ids */


#content {
    width: 982px;
    margin-left: auto;
    margin-right: auto;
}

#main_content {
    min-height: 600px;
}

#history{
    width: 240px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}


#search_site_box {
    float: right;
    margin-right: 100px;
}

#sanur_title {
    font-family: Arial,Helvetica,sans-serif;
    font-size:18px;
}

#sanur_title_description {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}


#map {
    width: 900px;
    height: 500px;
    margin: auto;
}

#calendar {
    margin:auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#slide_show_event {
    margin:auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-corner-all {
    font-size: 90%;
}

.fc-day-number{
    font-family: monospace;
}