/* 
    Document   : general
    Created on : 07 Jul 11, 15:58:30
    Author     : Akbar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#content {
    width: 982px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0px 0px 20px rgb(40,40,40);
    -webkit-box-shadow: 0px 0px 20px rgb(40,40,40);
    box-shadow: 0px 0px 20px rgb(40,40,40);
    /* For IE 8 */
    /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=25, Direction=90, Color='#191919')"; */
    /* For IE 5.5 - 7 */
    /* filter: progid:DXImageTransform.Microsoft.Shadow(Strength=25, Direction=90, Color='#191919'); */
}

.top-menu {
    height: 45px;
}


.navigation {
    padding: 0px 0px 0px 10px;
    list-style:none;
    position:relative;
}

.navigation ul {
    /*float:left;
    width:100%;
    list-style-type:none;
    display:  inline;
    padding:0;
    margin:0;*/
}

.navigation li{
    /*display:inline;*/
    font-family: Impact;
    font-size: 22px;
    float:left;
    position:relative;
}

.navigation li a {
    min-width: 2.5em;
    text-decoration:none;
    color: rgb(100,100,100);
    background-color: rgb(250,250,250);
    padding:0.2em 0.35em 0.2em 0.35em;
    margin-right: 1px;
    border-right:1px solid white;
    display: block;
    text-align: center;
    -moz-border-bottom-left-radius: 7px;
    -moz-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-radius : 0px 0px 7px 7px;
}

.navigation li a:hover {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}

#home_body .navigation #home-nav a {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}

#about_body .navigation #about-nav a.about_parent {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}

#event_body .navigation #event-nav a {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}

#news_body .navigation #news-nav a {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}

#sign_in_body .navigation #signin-nav a {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}

#sign_up_body .navigation #signup-nav a {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}

#profile_body .navigation #profile-nav a {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}

#message_body .navigation #message-nav a {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}

#find_friend_body .navigation #findfriend-nav a {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}

/* Second Level Drop Down Menu */
.navigation li ul.navigation_2 { 
    display: none; 
    list-style: none; 
    padding: 0;
    margin-left:-50px;
    padding-top: 10px;
}

#about_body .navigation li ul.navigation_2 li {  
    font-size: 14px;
    font-family: Georgia,'Times New Roman',times,serif;
}

#about_body .navigation li:hover ul.navigation_2 { 
    display:block; 
    position:absolute; 
    top:35px; 
    left:0px;
    background:rgb(0,0,0); /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
}

#about_body .navigation li:hover ul.navigation_2 li a {
    color:#ffffff;
    text-align: center;
    width: 200px;
    height: 20px;
    text-decoration:none;
    background-color:transparent;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-right-style: none;
    padding-top: 8px;
}

#about_body .navigation li:hover ul.navigation_2 li #link_web {

    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
}

#about_body .navigation li:hover ul.navigation_2 li a:hover {
    background-color:transparent; 
    color:#ffffff;
}

/* create an arrow that points left */
.arrow-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
    float: left;
    visibility: hidden;
    margin-top: 5px;
}

/*******************************************************/

#welcome_user {
    font-family: 'Times New Roman',Times,serif;
    font-size: 12px;
    text-align: right;
    padding: 5px 200px 0px 0px;
}

.search_site_box {
    float : right;
}

#left-banner {
    width:300px;
    float:left;
}

#deskripsi_home {
    font-family: 'Times New Roman',Times,serif;
    font-size: 12px;
    color: white;
}

#deskripsi_home a {
    color: white;
}


#right-banner {
    padding-top: 20px;
    padding-right: 15px;
    float: right;
}

#grouper1{
    float: right;
}
.banner {
    /* height: 217px;
    background-color : rgb(16,77,17); */
    margin-left: 0px;
}

.heading {
    font-family: impact;
    font-size: 45px;
    color: rgb(255,255,255);
}


.heading2 {
    font-family: georgia;
    font-size: 18px;
    color: rgb(255,255,255);
}


#footer {
    padding: 40px 0px 45px 70px;
    font-family: Arial;
    font-size: 10px;
    color: rgb(150,150,150);
}

.left-menu {
    float:left;
    width: 680px;
}

.right-menu {
    float:left;
    width: 260px;
}
img.event_images {
    min-height: 300px;
    max-height: 350px;
    min-width: 300px;
    max-width: 350px;
}

.work-menu{
    float:left;
    width: 491px;
}

.clearboth {
    clear: both;
}

.display_none {
    display: none;
}

/* Ids */


#main_content {
    min-height: 500px;
    padding: 10px 20px 10px 25px;
}

#history{
    padding: 10px 20px 10px 25px;
    font-family: ARIAL;
    font-size: 13px;
}


#search_site_box {
    float: right;
    margin-right: 100px;
}

#sanur_title {
    font-family: Arial,Helvetica,sans-serif;
    font-size:18px;
}

#sanur_title_description {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}


#map {
    width: 900px;
    height: 500px;
    margin: auto;
}

#calendar {
    margin:auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.ui-corner-all {
    font-size: 90%;
}

.fc-day-number{
    font-family: monospace;
}

#single_search_wrapper {
    padding : 5px 10px 5px 10px;
    margin : 5px;
}

#single_search_wrapper:hover{
    background-color: rgb(240,240,240);
}

#category_search {
    font-family : georgia;
    font-size : 16px;
    color : rgb(100,100,100);
}

#title_search {
    font-family : impact;
    font-size : 17px;
    letter-spacing: 1px;
}
#content_search img{
    min-height: 90px;
    max-height: 90px;
    min-width : 120px;
    max-width : 120px;
    margin-right: 10px;
}

a.search_result_divlink {
    text-decoration: none;
    font-family: Arial;
    font-size : 13px;
    color: black;
}

#content_search #text_search {
    text-align: justify;
}
.home-menu {
    height: 700px;
}

input#search_button {
    background-image: url('../res/desain/search.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 36px;
    padding-left: 31px;
    margin-top: 10px;
    vertical-align: middle;

}

input[type=text]{
    font-family: georgia;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius : 5px 5px 5px 5px;
    /* kalo gak dukung transparan */
    border:2px solid rgb(120,120,120);
    border:2px solid rgba(120,120,120, 0.7);
    margin : 5px 0px 5px 0px;
    width: 133px;
}

input[type=password]{
    width: 133px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius : 5px 5px 5px 5px;
    /* kalo gak dukung transparan */
    border:2px solid rgb(120,120,120);
    border:2px solid rgba(120,120,120, 0.7);
}

dropdown {
    font-family: arial;
    font-size: 12px;
}

textarea{
    font-family: georgia;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius : 5px 5px 5px 5px;
    /* kalo gak dukung transparan */
    border:2px solid rgb(120,120,120);
    border:2px solid rgba(120,120,120, 0.7);
    resize : none;
}

a.link {
    color: black;
    font-family: Arial;
    font-size: 13px;
}

input[type=submit]{
    font: georgia;
    background-color: rgb(130,130,130);
    color : white;
    border : none;
    cursor: pointer;
    margin: 6px 3px 3px 0px;
    font-weight: bold;
    padding : 4px 10px 4px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius : 5px 5px 5px 5px;
}

input[type=submit]:hover {
    background-color: rgb(200,200,200);
    color : black;
    font-weight: bolder;
}

input[type=button]{
    font: georgia;
    background-color: rgb(130,130,130);
    color : white;
    border : none;
    cursor: pointer;
    margin: 6px 3px 3px 0px;
    font-weight: bold;
    padding : 4px 10px 4px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius : 5px 5px 5px 5px;
}

input[type=button]:hover {
    background-color: rgb(200,200,200);
    color : black;
    font-weight: bolder;
}

button {
    font: georgia;
    background-color: rgb(130,130,130);
    color : white;
    border : none;
    cursor: pointer;
    margin: 6px 3px 3px 0px;
    font-weight: bold;
    padding : 4px 10px 4px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius : 5px 5px 5px 5px;
}

button:hover {
    background-color: rgb(200,200,200);
    color : black;
    font-weight: bolder;
}

select{
    font-family: georgia;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius : 5px 5px 5px 5px;
    /* kalo gak dukung transparan */
    border:2px solid rgb(120,120,120);
    border:2px solid rgba(120,120,120, 0.7);
}

select option{
    font-family: georgia;
}

.home-menu img{
    float: left;
    margin-left: -25px;
    margin-top: -38px;
}

.recent-news-home{
    height: 345px;
}

.login-box-home {
    margin-top: -400px;
    margin-right: -10px;
    z-index: 4;
    float : right;
    width: 179px;
    height: 285px;
    /* Kalo gak support transparan */
    background: rgb(255,255,255);
    background : rgba(255,255,255,0.6);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius : 8px 8px 8px 8px;
}

.signin_title {
    font-family: impact;
    font-size:  19px;
    padding : 5px 0px 10px 15px;
}

#signin_form {
    font-family: Arial;
    font-size: 12px;
    padding : 5px 0px 10px 15px;
    font-weight: bold
}

.login-description {
    padding : 5px 0px 10px 5px;
}

#signin_form a{
    color: black;
}

.login-description {
    font-family: arial;
    color: black;
}
.login-description a{
    color: black;
}
.link-new-member {
    font-family: arial;
    color: black;
    font-size: 11px;
}

.margintop {
    margin: 6px 5px 5px 5px;
}
#content p {
    font-family: ARIAL;
    font-size: 13px;
}

.general_text {
    font-family: ARIAL;
    font-size: 13px;
}

label {
    font-family: ARIAL;
    font-size: 12px;
    padding : 5px 5px 5px 5px;
}

#title-menu {
    font-family: impact;
    font-size: 30px;
    color: rgb(110,110,110);
    padding: 5px 5px 20px 0px;
}
#title-menu a{
    font-family: impact;
    color: rgb(110,110,110);
    color: rgb(110,110,110);
    padding: 5px 5px 20px 5px;
}

.impact25{
    font-family: impact;
    font-size: 25px;
    letter-spacing: 1px;
}

.impact20{
    font-family: impact;
    font-size: 20px;
    letter-spacing: 1px;
}

/**** About US ****/

#content_about {
    display: inline;
}

#content_about_wrap {
    position: relative;
    left: 20%;
}

#content_about_left {
    float:left;
    max-width: 450px;
}

#content_about_right {
    float:left;
    margin-left: 20px;
    max-width: 250px;
}

#contact_us_form input[type="text"] {
    width: 440px;
}

#contact_us_form textarea {
    width: 440px;
}

#contact_us_form input[type="submit"] {
    float:right;
}

#contact_us_form .defaultTextActive {
    color: #a1a1a1;
}

#content_about_left hr {
    color:#000000;
    background-color: #000000;
    height: 1px;
}

#content_about_right img {
    float:left;
    margin-top: 35px;
}

#content_about_top {
    margin-left: -25px;
    margin-top: -19px;
    margin-bottom: 10px;
}

#content_about_top img {
    display:inline;
    float:left;
}

#about_photo {
    float:left;
    width:70%;
}

#about_photo_deskripsi {
    margin-left: 67.8%;
    width: 30%;
    padding-right: 42px;
    min-height: 427px;
    color: white;
    background-color: black;
}


#three_photo ul.img_holder {
    width: 982px;
    list-style: none;
    margin-left: -40px;
    margin-top: -28px;
    margin-bottom: 10px;
}

#three_photo ul.img_holder li {
    float: left;
    position: relative;
}

#three_photo ul.img_holder li.pad_left {
    margin-left: 8px;
    margin-right: 8px;
}

#three_photo ul.img_holder li .thumb {
    width: 322px;
    height: 482px;
}

#three_photo ul.img_holder li .thumb:hover {
    background: #333;
}


#three_photo ul.img_holder li span {
    width: 322px;
    height: 482px;
    overflow:hidden;
    display:block;
}

#three_photo ul.img_holder li .description_img {
    display:none;
    width:179px;
    height:100px;
    bottom: 0px;
    right:0px;
    padding:10px;
    -moz-border-radius: 10px 0px 0px 0px;
    -webkit-border-top-left-radius : 10px;
    border-radius : 10px 0px 0px 0px;
}

/**********************************/

/***** Teks description floating above image *****/
.description_img {
    width:179px;
    height:100px;
    position: absolute;
    z-index: 4;
    /* Kalo gak dukung transparan */
    background : rgb(255,255,255);
    background : rgba(255,255,255,0.85);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: gray;
}
/**********************************/


/***** News *****/
#news_body #history {
    display:none;
}

#news_holder {
    margin-left: -25px;
    margin-top: -19px;
}

#news_holder_left {
    float:left;
    min-height: 600px;
    width:70%;
}

#news_holder_right {
    margin-left: 67.55%;
    width: 30%;
    min-height: 450px; /* 3 kali news_div*/
    padding-right: 45px;
    background-color: black;
    color: white;
}

#news_holder_right #latest {  
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bolder;
    font-size: 14px;
}

#news_holder_right #title_sanur_news {  
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bolder;
    font-size: 24px;
}

#news_holder_left #news_div {
    position: relative;
    float:left;
    width: 325px;
    height: 150px;
    padding: 0;
    background-color: black;
    color: white;
    margin-right: 1px;
    margin-bottom: 1px;
}

#news_holder_left #news_div #content_news.description_img {
    height:110px;
    bottom: 0;
    right: 0;
    padding:10px;
}

#news_holder_left #news_div #content_news.description_img #title_news {
    font-family: Impact;
    font-size: 22px;
    margin-bottom: 5px;
}

#news_holder_left #news_div #content_news.description_img #title_news a {
    text-decoration: none;
    color:#666666;
}

#news_holder_left #news_div #content_news.description_img #text_news {
    margin-bottom: 5px;
}

#news_holder_left #news_div #content_news.description_img #link_show {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}

#news_holder_left #news_div #content_news.description_img #link_show a {
    text-decoration: none;
    color:#666666;
}

#content_news * {
    word-wrap:break-word;
    white-space: normal;
}

#form_add_news {
    margin-left:auto;
    margin-right:auto;
    width:775px;
}

#form_add_news #title_editor_news #title_field {
    width:771px;
}

#form_add_news #text_editor textarea {
    width:775px;
    height: 500px;
}

#news {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/**********************************/

/*** EDIT PROFILE ***/
#profile_body #history {
    /*    display:none;*/
}

.edit_profile_menu {
    width: 537px;
    float: right;
    background-color: #000000;
    text-align: center;
}

#link-menu {
    padding: 0px 10px 0px 10px;
    color: white;
    font-family: Arial Black;
    font-size: 14px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-top-left-radius : 5px;
    -webkit-border-top-right-radius : 5px;
    border-radius : 5px 5px 0px 0px;
}

.edit_profile_navigation {
    padding: 0px 0px 0px 10px;
    list-style:none;
    position:relative;
}

.edit_profile_navigation li {
    float:left;
    position:relative;
}

#link-menu:hover {
    color: #000000;
    background-color: #a1a1a1;
    font-size: 14px;
}

#link-menu_select {
    padding: 0px 10px 0px 10px;
    font-family: Arial Black;
    font-size: 14px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-top-left-radius : 5px;
    -webkit-border-top-right-radius : 5px;
    border-radius : 5px 5px 0px 0px;
    color: #000000;
    background-color: #a1a1a1;
}

.edit_profile_left {
    float:left;
    width: 375px;
    margin-left: 25px;
}

.edit_profile_right {
    float:right;
    width: 550px;
    background-color: #000000;
    padding-right: 20px;
}

.subtitle {
    width: 219px;
    font-family: Impact;
    font-size: 24px;
    padding: 30px 0px 5px 5px;
    text-align: right;
    color: #ffffff;
}

.left-table {
    text-align: right;
    width: 225px;
}

.left-table label {
    font-size: 14px;
    font-family: Arial;
    color: #ffffff;
}

.right-table {
    text-align: left;
    width: 222px;
}

.right-table input {
    width: 218px;
    height: 26px;
}

.left_checkbox {
    width: 225px;
    text-align: right;
    float: left;
}

.right_checkbox {
    float: left;
    width: 250px;
    padding-left: 5px;
}

.right_checkbox label {
    font-size: 14px;
    font-family: Arial;
    color: #ffffff;
}

#editbasic_bg {
    margin-left: -25px;
    margin-right: -20px;
    margin-top: -45px;
    width: inherit;
    padding-top: 50px;
}

#editbasic_bg .edit_profile_right {
    margin-top: -50px;
    padding-top: 50px;
}

#editbasic_bg .edit_profile_left {
    margin-top: -50px;
}

.edit_profpic {
    text-align: center;
    background-color: #000;
    padding-top: 5px;
    position: relative;
}

#edit_profpic_navig {
    /* Kalo gak dukung rgba */
    background-color: rgb(250,250,250);
    background-color: rgba(250,250,250,0.7);
    padding: 0px 10px 0px 10px;
    color: #000000;
    font-family: Arial Black;
    font-size: 14px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-top-left-radius : 5px;
    -webkit-border-top-right-radius : 5px;
    border-radius : 5px 5px 0px 0px;
    display: inline;
    text-align: center;
    float: left;
}

#edit_profpic_navig:hover {
    color: #ffffff;
    background-color: #000000;
}

.edit_profpic_navig {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
}

.edit_profile_form {
    padding: 0px 0px 5px 18px;
    float: left;
}

.edit_profile_form input{
    width: 218px;
    height: 20px;
}

#editloc_bg {
    margin-left: -25px;
    margin-right: -20px;
    margin-top: -45px;
    width: inherit;
    background-color: #000000;
    padding-top: 50px;
}

.editloc_container {
    width: 900px;
    margin: auto;
}

#editedu_bg {
    margin-left: -25px;
    margin-right: -20px;
    margin-top: -45px;
    width: inherit;
    min-height: 500px;
    background-color: #000000;
    padding-top: 50px;
}

.edu_table {
    float: right;
    padding: 2px 0px 2px 0px;
}

#editwork_bg {
    margin-left: -25px;
    margin-right: -20px;
    margin-top: -45px;
    width: inherit;
    background-color: #000000;
    padding-top: 50px;
    padding-left: 40px;
}

.work-subtitle {
    padding: 30px 0px 0px 20px;
    font-family: Arial Black;
    font-size: 14px;
}

.work_cur {
    width: 382px;
}

.work_cur label {
    color: #000000;
}

.curwork_container {
    background-color: #ffffff;
    width: 387px;
    margin-top: -50px;
    margin-left: -40px;
    padding-left: 30px;
    padding-top: 50px;
}

#editvis_bg {
    margin-left: -25px;
    margin-right: -20px;
    margin-top: -45px;
    width: inherit;
    background-color: #000000;
    padding-top: 100px;
}

.editvisibility_col {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 100px;
}
/*** END OF EDIT PROFILE ***/
.search_friend_table {
    padding-left: 5px;
}

.search_friend_table .left-table {
    width: auto;
}

.search_friend_table label {
    color: #000000;
}

#list_alumni {
    margin-top: 5px;
    margin-left: 6px;
    margin-bottom: 5px;
}

a.people_links {
    color: black;
    font-family: Arial;
    font-size: 13px;   
}

a.people_links_white {
    color: white;
    font-family: Arial;
    font-size: 13px;   
}

/***** Datepicker *****/
#ui-datepicker-div {
    display:none;
}
/**********************/

/*** HOST EVENT ***/
#hostevent_bg {
    margin-left: -25px;
    margin-right: -20px;
    margin-top: -45px;
    width: inherit;
    padding-top: 50px;
}

.hostevent_left {
    float:left;
    width: 375px;
    margin-left: 25px;
    margin-top: -15px;
}

.hostevent_right {
    float:right;
    width: 550px;
    background-color: #000000;
    padding-right: 20px;
    margin-top: -15px;
}
/*** END OF HOST EVENT ***/

.showevent-left-menu {
    float : left;
    width: 430px;
}

.showevent-right-menu {
    float: right;
    background-color: black;
    width : 500px;
    color: white;
}

#event-info {
    padding: 30px 10px 20px 40px;
}