/* 
    Document   : message
    Created on : 18 Jul 11, 23:51:45
    Author     : Akbar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#autocomplete {
    
}
#autocomplete img{
    height: 70px;
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#autocomplete #label {
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
}

#autocomplete #nickname {
    font-size: 10pt;
    text-align: center;
    font-style: italic;
}

.error {
    font: normal 12px arial;
    padding: 3px;
    margin: 3px;
    background-color: #ffc;
    border: 1px solid #c00;
}


#paginationlink {
    text-decoration: none;
    float : left;
    font: 16px console;
    font-weight: bold;
    color : rgb(255,255,255);
    padding: 5px 10px 5px 10px;
    margin: 4px 2px 4px 2px;
    background-color: black;
    border: 2px solid rgb(255,255,255);
}

#paginationlink:hover {
    text-decoration: none;
    float : left;
    font: 16px console;
    font-weight: bold;
    color : rgb(0,0,0);
    padding: 5px 10px 5px 10px;
    margin: 4px 2px 4px 2px;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(195,195,195);
}

#paginationlink a:link{
    text-decoration: none;
    color: rgb(255,255,255);
}

#paginationlink a:visited{
    text-decoration: none;
    color: rgb(255,255,255); 
}

#paginationlink a:hover{
    text-decoration: none;
    color: rgb(0,0,0); 
}

#paginationlink a:active{
    text-decoration: none;
    color: rgb(0,0,0); 
}

#cur_link {
    text-decoration: none;
    float : left;
    font: 16px console;
    font-weight: bold;
    color : rgb(0,0,0);
    padding: 5px 10px 5px 10px;
    margin: 4px 2px 4px 2px;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(0,0,0);
}
#cur_link:hover {
    text-decoration: none;
    float : left;
    font: 16px console;
    font-weight: bold;
    color : rgb(0,0,0);
    padding: 5px 10px 5px 10px;
    margin: 4px 2px 4px 2px;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(0,0,0);
}

#cur_link a:link{
    text-decoration: none;
    color: rgb(0,0,0); 
}

#cur_link a:visited{
    text-decoration: none;
    color: rgb(0,0,0); 
}

#cur_link a:hover{
    text-decoration: none;
    color: rgb(0,0,0); 
}

#cur_link a:active{
    text-decoration: none;
    color: rgb(0,0,0); 
}

#message_summary #profpict_sender img{
    max-height: 90px;    
    max-width: 90px;
    float : left;
    margin : 5px 10px 5px 10px;
}

#message_summary #subject {
    padding-top: 8px;
    color : green;
    font-size: 19px;
    font-weight: bold;
}

#message_summary #sender {
    font-size: 16px;
    font-weight: bold;
}

#message_summary #date {
    font-size: 13px;
    color : red;
}

#message_summary #content_text {
    font-size: 16px;
    color : rgb(105,105,105);
}


