/* 
    Document   : style
    Created on : Jul 5, 2011, 1:59:59 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#backgroundPopup{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    height:100%;
    width:100%;
    top:0;
    left:0;
    /* background:rgb(100,100,100); */
    border:1px solid #cecece;
    z-index:1;
}

.popup{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    /* height:300px; */
    min-height: 100px;
    width:500px;
    /* Kalo gak support transparan */
    background : none repeat scroll 0 0 rgb(235,235,235);
    background : none repeat scroll 0 0 rgba(235,235,235,0.92);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius : 8px 8px 8px 8px;
    /* Kalo gak support transparan */
    border:15px solid rgb(120,120,120);
    border:15px solid rgba(120,120,120, 0.7);
    z-index:2;
    /* padding:12px; */
    font-size:13px;
}
.popup h1{
    text-align:center;
    color:#000;
    font-size:20px;
    font-weight:700;
    border-bottom:1px dotted #D3D3D3;
    padding-bottom:2px;
    margin-bottom:20px;
    border: none;
    text-shadow: 0px 0px 2px #000;
}

.popup h2{
    text-align:left;
    color:#000;
    font-size:18px;
    font-weight:700;
    padding-bottom:2px;
    margin-bottom:20px;
}

.popup_title {
    background-color: rgb(16,77,17);
    height: 35px;
    font-family: impact;
    font-size : 20px;
    color: rgb(255,255,255);
    padding: 10px 0px 0px 10px;
}

.popup_main_content {
    padding: 20px 10px 30px 10px;
    font-family: arial;
    font-size: 12px;
    background-color: rgb(255,255,255);
}

.popup_footer {
    border-top: 1px solid rgb(160,160,160);
    background-color: #F2F2F2;
    padding: 10px 50px 10px 10px;
}

