/* 
    Document   : profile
    Created on : 19 Jul 11, 13:28:12
    Author     : Akbar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#profpic img{
    max-height: 300px;
    max-width: 300px;
}

#friend_wrapper {
    margin: 10px 10px 10px 10px;
}

#friend_wrapper #profpic img{
    min-height: 50px;
    min-width: 50px;
    max-height: 55px;
    max-width: 55px;
    float : left;
}

#info_wrapper {
    float : left;
}
#info_wrapper #name{
    padding: 3px 5px 5px 5px;
}

#info_wrapper #nickname{
    padding: 3px 5px 5px 5px;  
}

#friend_profpic img{
    min-height: 70px;
    min-width: 70px;
    max-height: 75px;
    max-width: 75px;
    float : left;
}

#show_info_wrapper {
    float : left;
    padding: 3px 5px 5px 5px;  
}

#search_result_num {
    float : left;
    padding: 3px 5px 5px 5px;  
}


