/* 
    Document   : profile
    Created on : 19 Jul 11, 13:28:12
    Author     : Akbar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.profile-left-menu {
    float : left;
    width: 434px;
}

.profile-black-wrapper {
    background-color: black;
    position: relative;
}
.profile-right-menu {
    float: right;
    background-color: black;
    width : 496px;
    z-index: 3;
    color: white;
}

.profile-bottom-menu {
    margin-top: 30px;
}

#link {
    position: absolute;
    bottom: 0;
    left: 2%;
    display: block;
    width: 434px;
    text-align:center;
}

.profile-navigation {
    padding: 0px 0px 0px 0px;
}

.profile-navigation ul {
    float:left;
    width:100%;
    list-style-type:none;
    padding:0;
}

.profile-navigation li{
    display:inline;
    font-family: Arial Black;
    font-size: 13px;
}

.profile-navigation a {
    min-width: 2.5em;
    float:left;
    text-decoration: underline;
    color: rgb(40,40,40);
    /* Kalo gak dukung transparan */
    background-color: rgb(250,250,250);
    background-color: rgba(250,250,250,0.7);
    padding:0.2em 0.35em 0.2em 0.35em;
    margin-left: 2px;
    margin-right: 2px;
    display: inline;
    text-align: center;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-top-left-radius : 5px;
    -webkit-border-top-right-radius : 5px;
    border-radius : 5px 5px 0px 0px;
}


 .profile-navigation a:hover {
    background-color: rgb(0,0,0) ;
    color : rgb(255,255,255);
}


#profpic {
    vertical-align : middle;
}
img.profpic_images{
    max-height: 410px;
    max-width: 410px;
    margin : auto;
    display: block;
}

#profile-info {
    padding: 30px 10px 20px 40px;
}

#profile-info #name {
    margin-bottom: 20px;
}


#friend_wrapper {
    margin: 10px 10px 10px 10px;
    display: inline-block;
    float: left;
}

#friend_wrapper #profpic img{
    min-height: 50px;
    min-width: 50px;
    max-height: 55px;
    max-width: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#info_wrapper {
    /* float : left; */
}
#info_wrapper #name{
    padding: 3px 5px 5px 5px;
    display: block;
    text-align: center;
}

#info_wrapper #nickname{
    padding: 3px 5px 5px 5px;  
    text-align: center;
}

#show_friends_wrapper {
    padding : 5px 10px 5px 10px;
    margin : 5px;
}

#show_friends_wrapper:hover{
    background-color: rgb(240,240,240);
}

#friend_profpic img{
    min-height: 70px;
    min-width: 70px;
    max-height: 75px;
    max-width: 75px;
    float : left;
}

#show_info_wrapper {
    float : left;
    padding: 3px 5px 5px 5px;  
}

#search_result_num {
    float : left;
    padding: 3px 5px 5px 5px;  
}

.link_arialblack22{
    padding-left: 7px;
    font-family: Arial Black;
    font-size: 22px;
    color: white;
}

.add_friend_link {
    padding: 10px 0px 10px 40px;
    font-family: Arial Black;
    font-size: 14px;
    color: white;
}
.add_friend_link a{
    font-family: Arial Black;
    font-size: 18px;
    color: white;
}