/* 
    Document   : error-validation
    Created on : 21 Jul 11, 12:57:48
    Author     : Akbar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.error{
    font: normal 11px arial;
    padding: 4px;
    margin: 3px;
    background-color: #ffc;
    border: 2px solid green;
    border-radius : 4px 4px 4px 4px;
    display : inline-block;
    width: auto;
}

