/* 
    Document   : event
    Created on : 29 Jul 11, 10:45:03
    Author     : Akbar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.event-left-menu {
    float: left;
    width: 630px;
}

.event-right-menu {
    background-color: black;
    float:left;
    width: 305px;
    color: white;
    padding-bottom: 20px;
}

.calendar-left-menu {
    float: left;
    width: 660px;
    padding : -130px 0px 0px -30px;
}

.calendar-right-menu {
    background-color: black;
    float:left;
    width: 275px;
    color: white;
    margin-top: 30px;
    padding-bottom: 20px;
}

#slide_show_event {
    margin:auto;
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    background-color: black;
    height: 500px;
}

#sorting {
    padding: 30px 0px 20px 20px;
}

a.active-event-link{
    font-family: arial;
    color: white;
    font-size: 15px;
}

a.notactive-event-link{
    font-family: arial;
    color: rgb(190,190,190);
    font-size: 14px;
}

.sort-category {
    margin-top: 5px;
}

.link_arialblack17 {
    font-family: Arial Black;
    font-size: 17px;
    color: white;
}

.link-other-event {
    padding: 0px 0px 0px 20px;
}
