/* 
    Document   : general
    Created on : 07 Jul 11, 15:58:30
    Author     : Akbar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/* Classes */
.left-menu {
    float:left;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    width: 697px;
}

.right-menu {
    float:left;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    width: 285px;
}

.work-menu{
    float:left;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    width: 491px;
}


/* Ids */


#content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#main_content {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
}

#header {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
}


#navigation{
    width: 320px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

#history{
    width: 240px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

#footer {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
}


#search_site_box {
    float: right;
    margin-right: 100px;
}

#sanur_title {
    font-family: Arial,Helvetica,sans-serif;
    font-size:18px;
}

#sanur_title_description {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}

#clearboth {
    clear: both;
}

#map {
    width: 900px;
    height: 500px;
    margin: auto;
}

#calendar {
    margin:auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#slide_show_event {
    margin:auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-corner-all {
    font-size: 90%;
}

.fc-day-number{
    font-family: monospace;
}
