/* 
    Document   : message
    Created on : 18 Jul 11, 23:51:45
    Author     : Akbar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#message_wrapper {
    padding : 5px 20px 5px 20px;
    margin : 5px 30px 5px 30px
}
/* 
#message_wrapper:hover {
    padding : 10px 40px 10px 40px;
    margin : 10px 5px 10px 5px;
    background-color: rgb(240,240,240);
} */

#message_summary:hover {
    background-color: rgb(240,240,240);
}


#message_summary #profpict_sender img{
    max-height: 80px;    
    max-width: 80px;
    float : left;
    margin : 0px 10px 0px 10px;
}

#message_summary #subject {
    padding-top: 5px;
    color : green;
    font-size: 17px;
    font-weight: bold;
}

#message_summary #sender {
    font-size: 15px;
    font-weight: bold;
}

#message_summary #date {
    font-size: 12px;
    color : red;
}


#message_summary #content_text {
    font-size: 15px;
    color : rgb(105,105,105);
}

#message_wrapper {
    
}

#message_top {
    background-color: rgb(195,195,195);
}

#message_top #subject {
    font-size: 20px;
    color: green;
    font-weight: bold;
}

#message_top #date {
    font: 12px;
    color: red;
    font-style: italic;
}

#message_info #profpict_sender img{
    max-height: 80px;
    max-width : 80px;
    float : left;
}
