/* 
    Document   : profile
    Created on : 19 Jul 11, 13:28:12
    Author     : Akbar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.profile-left-menu {
    float : left;
    background-color: black;
    width: 434px;
    height: 516px;
    line-height: 516px;
}

.profile-right-menu {
    float: right;
    background-color: black;
    width : 496px;
    z-index: 3;
    color: white;
}

.profile-navigation {
    float: right;
    z-index: 2;
    float : right;
    background : rgba(255,255,255,0.8);
    margin: 188px 5px 10px 5px;
    padding: 4px 4px 4px 4px;
}

.profile-navigation a{
    color: black;
    text-align: center;
}

#profpic {
    vertical-align : middle;
}
img.profpic_images{
    max-height: 410px;
    max-width: 410px;
    margin : auto;
    display: block;
}


#friend_wrapper {
    margin: 10px 10px 10px 10px;
}

#friend_wrapper #profpic img{
    min-height: 50px;
    min-width: 50px;
    max-height: 55px;
    max-width: 55px;
    float : left;
}

#info_wrapper {
    float : left;
}
#info_wrapper #name{
    padding: 3px 5px 5px 5px;
}

#info_wrapper #nickname{
    padding: 3px 5px 5px 5px;  
}

#friend_profpic img{
    min-height: 70px;
    min-width: 70px;
    max-height: 75px;
    max-width: 75px;
    float : left;
}

#show_info_wrapper {
    float : left;
    padding: 3px 5px 5px 5px;  
}

#search_result_num {
    float : left;
    padding: 3px 5px 5px 5px;  
}